
@{
    ViewData["Title"] = "BLOCKED";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blocked</title>
</head>
<body>
    <div style="margin-top:25px; margin-left:50px; margin-right:50px">

        <h1 class="text-danger">Sorry you are BLOCKED.</h1>
        <h3 class="text-danger">Please contact your administration.</h3>
        <a asp-action="Index" asp-controller="Start" class="fa-link">
            Press here to get back to Login / registration
        </a>
    </div>
</body>
</html>
